{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
<div class="content">
  <div class="row">
    <div class="col-sm-12">

      <h2 class="text-center">{{ object.username }}</h2>
      <h3 class="text-center">Welcome back! {% if object.name %} </h3>
      {% endif %}
    </div>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="content">
<div class="row">
  <div class="col m-20">
    <a class="btn btn-lg btn-block" href="{% url 'users:update' %}" role="button">My Info</a>
  </div>
</div>
<div class="row">
  <div class="col m-20 btn-block">
    <a class="btn btn-lg btn-block" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>
</div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}
