{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="row text-left row-eq-spacing"> <h1 class="text-capitalize  font-weight-bold ">{{ product.name }}</h1> </div>
        <div class="row">
            <div class="col">
                <div class="w-400 mw-full">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}
                        {% static "img/no_image.png" %}{% endif %}" class="mw-full img-fluid ">
                </div>
            </div>
            <div class="w-400 mw-full">
                <div class="col">
                    <div class="card">
                        <h2>
                            <a href="{{ product.category.get_absolute_url }}" class="card-title text-light-dm text-capitalize">
                                {{ product.category }}
                            </a>
                        </h2>
                        {{ product.description|linebreaks }}
                        <p class="">${{ product.price }}</p>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <div class="text-right"> <!-- text-right = text-align: right -->
                                <input type="submit" value="Add to cart" class="btn btn-primary ">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
